<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>XYZ</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="static/ai.css"/>
	
</head>
<body class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
			<form class="form-detail" method="POST">
				<h2>XYZ</h2>
				<h4>Your AI virtual assistant for XYZ</h4>
				
				<div class="form-row">
					<label>Message1 you want to tell users</label>
				    <label>Message2 you want to tell users</label>
					
					<textarea class="textarea" maxlength="300" id="user_requirement" rows="10" cols="50" class="input-text"></textarea>
					
				</div>
				
				<div class="form-row-last">
					<br/>
					<label style="color: red" id="validation"></label>
					<br/>
					
					<input id="submitRequirements" method="POST" type="button" value="Ask" class="register" onclick="gatherDataToSend()">
					<input id="clearBox" type="button" value="Clear" class="register" onclick="clearAll()">
					<input id="LogInButton" type="button" value="Google Login" class="register" onclick="logIn()">
					<h5 id="tokensLeft"></h5>
				
				</div>
				
				
			</form>
			<div class="form-left">
				<h2 id="topfieldofAnswer">Answer</h2>
				<div id="loader" class="loader">
					<div class="inner one"></div>
					<div class="inner two"></div>
					<div class="inner three"></div>
				  </div>
				  <br/>
				<textarea class="textarea1" maxlength="1000" id="outputAnswerToDisplay" rows="15" cols="50" class="input-text" readonly></textarea>
				
				
				<div class="form-left-last">
					<input id="shareButton" type="button" class="account" value="Share this" onclick="shareURL()">
					<input id="copyButton" type="button" class="account" value="Copy Output" onclick="copyOutput()">
					<br/>
					<label id="loggedinemail"></label>
					<input id="logoutButton" type="button" class="account" value="LogOut" onclick="logOut()"><br/>
				</div>
		
				
				
			</div>
		</div>
	</div>
	    

 <!-- firebase -->
 <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>

 <script src="static/firebase.js"></script>
 <script src="static/ai.js"></script>
	
	
	
	
</body>

</html>
